.feedback {
    background-color: #ADBBDA;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 40px;
}

.feedback h1 {
    left: 20px;
    padding: 20px 10.2%;
}

.feedbackCardContainer {
    display: flex;
    gap: 6px 16px;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 2;
    padding: 0 9.8% 20px;
}