.switch-button-container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  border-radius: 10px;
  gap: 10px;
  position: relative;
}

input {
  padding: 8px;
  height: 60px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

.swap-button {
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .swap-button {
    position: absolute;
    left: 75%;
    border: 1px solid #ccc;
  }

  .switch-button-container {
    gap: 0px;
  }
}

.swap-button:hover {
  background-color: #ddd;
}

.swap-icon {
  width: 20px;
  height: 20px;
}
