.booking-container {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  background: #ede8f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: auto;
  z-index: 1000;
}

@media (max-width: 768px) {
  .dropdown {
    left: -50%;
  }
}

.booking-dialog {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.passenger-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter button {
  background: #3d52a0;
  width: 35px;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.count-value {
  display: inline-block;
  width: 25px;
  text-align: center;
  font-weight: bold;
}

.cabin-classes {
  display: flex;
  gap: 10px;
}

.cabin-classes button {
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px; /* Corrected */
  border: 1px solid #ccc; /* Optional: Adds a subtle border */
}

.selected {
  background: #3d52a0;
  color: white;
  border-radius: 10px; /* Ensures the selected button keeps the rounded corners */
}
/* TODO: Add media queries */
