.booking-container {
  position: relative;
  width: 100%;
}

.dropdown {
  position: absolute;
  top: 65px;
  left: 0;
  background: var(--textColor);
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: auto;
  z-index: 1000;
}

.booking-dialog {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.passenger-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter button {
  background: #3d52a0;
  width: 35px;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.count-value {
  display: inline-block;
  width: 25px;
  text-align: center;
  font-weight: bold;
}

.cabin-classes {
  display: flex;
  gap: 10px;
}

.cabin-classes button {
  font-size: 1.6rem;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.selected {
  background: #3d52a0;
  color: white;
  border-radius: 8px;
}
