.date-picker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

@media screen and (max-width: 1075px) {
  .date-picker-container {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.booking-options-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 1075px) {
  .booking-options-container {
    flex-wrap: wrap;
    gap: 0px;
  }
}
