.adminCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 250px;
  width: 250px;
  box-shadow: var(--grey) 5px 5px 10px;
  background-color: var(--white);
  border-radius: 10px;
  color: var(--textColorDark);
  cursor: pointer;
}

.h2 {
  color: var(--textColorDark);
  font-size: 3.2rem;
  margin: 0;
  padding: 0;
}

.iconContainer {
  padding-top: 46px;
  padding-bottom: 20px;
}

.adminCard:hover {
  background-color: var(--secondaryColorLight);
}
