body.active-modal {
  overflow-y: hidden;
}

.adminClassContainer {
  padding: 40px 8% 70px 8%;
}

.flightsTable {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  font-size: 1.6rem;
}

.flightsTable th,
.flightsTable td {
  padding: 6px 16px;
  text-align: left;
  border-bottom: 1px solid #141619;
}

.flightsTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

h1 {
  padding-bottom: 20px;
}

@media screen and (max-width: 1100px) {
  .colRoundTrip,
  .colStatus,
  .colClasses {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .colDepartureTime,
  .colArrivalTime {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .colEdit {
    display: none;
  }
  .flightsTable tr:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}
